@import './colors.scss';

.chatHeader {
    background-color: $header-background-color;
    color: $header-text-color;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
}

#leaveBtn {
    bottom: 20px;
    left: 20px;
    background-color:#8b0000;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;

    &:hover {
        background-color: #b30000;
    }
}

#profile {
    display: flex;
    justify-self: flex-start;
    padding-left: 20px;

    #profileImg {
        border-radius: 50%;
        width: 40px;
        align-self: center;
    }
}

#profileSettings{
    position: fixed;
    z-index: 100px;
    background-color: $profile-settings-background-color;
    top: 80px;
    left: 10px;
    width: 400px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}