@import './colors.scss';

#room {
  flex-direction: column;
  height: 85vh;
  display: flex;

  #chat {
      overflow-y: auto;
      padding: 20px;
      background-color: $root-background-color;
      color: $header-text-color;
      width: 100%;
      display: grid;
      gap: 10px;
      overflow: auto;
      height: 100%;
  }

  #textInput {
      padding: 20px;
      background-color: $root-background-color;

      $display: false;

      @if $display {
          #usernames {
              display: flex;
              gap: 10px;
          }
      }
      
      

      input {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s ease;
        width: 400px;
      
        &:focus {
          border-color: #007bff;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      
        &::placeholder {
          color: #999;
        }
      }

      #usernames{
        width: 100px;
        height: 40px;
      }

      .visible{
        display: block;
        $display: true;
      }

      .invisible {
        display: none;
        $display: false;
      }
  }
}
