$root-background-color: #1B1A55;
$root-text-color: rgba(255, 255, 255, 0.87);

$header-background-color: #070F2B;
$header-text-color: rgba(255, 255, 255, 0.87);

$rooms-list-background-color: #535C91;

$add-room-btn-background-color: darkgreen;
$add-room-btn-text-color: white;

$profile-settings-background-color: #9290C3;
$add-room-background-color: #070F2B;