@import './colors.scss';

#roomsList {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#container {
    background-color: $rooms-list-background-color;
    width: 800px;

    button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        background-color: $add-room-btn-background-color;
        color: $add-room-btn-text-color;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 500px;
    }
}

#rooms{
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    div {
        background-color: #9290C3;
        display: flex;
        border-radius: 20px;
    }
}